*.dot
.settings
bin
develop-eggs
downloads
eggs
parts
*.egg-info
*.pyc
.DS_Store
.tmp_base.html*
dev.db
.pydevproject*
.installed.cfg
.mr.developer.cfg
.project
_build
src/django-admin-tools/
src/django-coverage/
src/django-filebrowser/
src/django-google-analytics/
src/django-grappelli/
src/django-grapelli/
src/django-oembed/
src/django-registration/
src/django-robots/
src/django-taggit/
src/django-uni-form/
src/django_compressor/
src/facebook-python-sdk/
src/django-breadcrumbs
src/django-haystack
celerybeat-schedule
src/celerymon
var
local_settings.py
